body {
    background-color: crimson;
}

.heading {
    text-align: center;
    color: white;
    font-family: cursive
}

h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    margin-top: -50px;
}