body {
    background-color: crimson;
}

.heading {
    text-align: center;
    color: white;
    font-family: 'Tangerine', cursive;
}

h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    margin-top: -50px;
}


.instructions {
    background-color: pink;
    font-family: sans-serif;
    display: inline-block;
    float: left;
    width: 50%;
    height: 600px;
    border-top-left-radius: 13%;
    border-bottom-left-radius: 13%;
    border-top-right-radius: 13%;
    border-bottom-right-radius: 13%;
}

.instructions h3{
	margin-left: 45px;
	width: 45%;
}

button.game{
	margin-left: 45px;
	background-color: red;
	width: 100px;
	text-decoration: none;

}

button.game:hover {
	color: blue;
}


h3 {
    font-size: 45px;
}

ol {
    font-size: 25px;
}

.image {
    display: inline-block;
    float: right;
    width: 50%;
    background-color: pink;
    height: 600px;
    border-top-right-radius: 13%;
    border-bottom-right-radius: 13%;
    border-top-left-radius: 13%;
    border-bottom-left-radius: 13%;
}

button a  {
	text-decoration: none;
}


/*GAME.HTML*/

h1.heading {
	font-size: 65px;
}

h3.game {
	font-size: 55px;
	text-align: center;
	color: white;
}

h2.score {
	font-size: 40px;
	text-align: center;
	color: white;

}



